/* A general styling for all element to add a custom padding and margin */
* {
    margin: 0;
    padding: 0;
}

/* style for our html */
html {
    font-family: Poppins, sans-serif;
    /*for font family of our html*/
    scroll-behavior: smooth;
    /*to control the scroll for our page*/
}

body {
    background-color: #010a1e;

}

/*teacher's nav styling*/

.teacherNav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px) saturate(50%);
    -webkit-backdrop-filter: blur(5px) saturate(50%);
    background: linear-gradient(to bottom, rgb(4, 86, 148), rgb(23, 59, 91));
    border-bottom: solid orange;
    height: 9cap;
}

.teacherNavLinks {
    display: flex;
    justify-content: space-between;
    float: right;
    /*border: solid;*/
}

.teacherNavP {
    margin: 3cap 2cap;
}

.teacherNavP .teacherNavA {
    text-decoration: none;
    color: white;
    font-family: Garamond;
    font-size: 20px;

}

.teacherNavP .teacherNavA:hover {
    padding: 0.2cap;
    transition: 0.5s;
    border-bottom: solid rgb(76, 181, 243) 1px;
    color: white
}

.pfA .pfImg {
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50cap;
    margin: 1.1rem;
}

.pfA .pfImg:hover {

    box-shadow: 0 0 5px black;
    background: rgba(0, 0, 7px, 0.5);

}

/*End of teacher's nav styling*/
/* Hamburger icon styles */
.hamburger {
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 1.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* End of hamburger styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5a85d630;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar .teacherNavHam a {
    width: 13rem;
    padding: 10px 15px;
    margin: 0.4rem;
    text-decoration: none;
    font-size: 1.2em;
    color: #f0eaea;
    display: block;
    transition: color 0.3s;
}

.sidebar .teacherNavHam {
    list-style-type: none;
}

.sidebar .teacherNavHam a:hover {
    color: #469ef6;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.sidebar .sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}

/* Responsivity code for the teacher nav */
@media (max-width: 900px) {
    .teacherNavLinks {
        display: none;
    }




}

@media (min-width: 900px) {

    .hamburger {
        display: none;
    }
}

@media (max-width: 460px) {
    .teacherNavLinks {
        display: none;

    }

}

@media (max-width: 200px) {
    .teacherNavLinks {
        display: none;
    }

    .sidebar {
        padding-top: 10px;
    }

    .hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .sidebar .teacherNavHam a {
        padding: 2px 2px;
        font-size: 0.3em;
    }

    .hamburger svg {
        height: 1em;
    }

    .teacherNavHam .sidebar-link .sidebar-icon {
        width: 0.5rem;
        height: 0.5rem;
    }
}

/*Profile Img nav content styling*/

.pfNav {
    position: relative;
    display: inline-block;
    border: 34%;
    content: none;
    margin: 0 0 12cap 0;
    
    




}

.pfNavLinks {
    display: none;
    background: rgba(90, 87, 87, 0.7);
    min-width: 160px;
    box-shadow: 0% 8% 16% 0% rgba(0, 0, 0, 2);
    z-index:1;
    margin: -1cap 0 0 0;
    border-radius: 2cap;
    box-shadow: 0 0 5px black;
    padding: 2cap;

}

.pfALink {
    background-color: rgb(4, 95, 156);
    display: flex;
    box-shadow: 0 -3px 1px rgb(2, 39, 40);
    border-radius: 2cap;

}

.pfName {
    font-size: 16px;
    margin: 2cap 1cap 2cap 1cap;


}

.pfName .pfNameLink:hover {
    text-decoration: underline;
}

.pfNameLink {
    color: white;
    text-decoration: none;
 

}

.pfImgLink {
    width: 5cap;
    height: 5cap;
    border-radius: 50cap;


}
.pfText{
    margin: 1rem;
}

.pfText .pfTextLinkA {
    color: white;
    text-decoration: none;
    


}

.pfText .pfTextLinkA:hover {
    border-left: 0.2cap solid orange;
    background-color: #a8a9a71e;
    padding: 1cap;
}


.pfNav:hover>.pfNavLinks {
    display: block;
    transition: 2s;



}

/*Ending of Profile nav styling*/


/* Styling for teacher's profile */
.teacherProfile {
    background:linear-gradient(to right, #060606, rgb(2, 26, 87));
    margin: 0.2rem;
    border-radius: 2cap;

}

.teacherProfileCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}

.teacherImgCont {
    align-self: center;
    padding: 0.1rem;
}

.teacherImg {
    width: 10rem;
    height: 10rem;
    border-radius: 2cap;
    /* margin: -15.5cap 0 0 0; */
}

.teacherProfileDetails {
    align-self: center;
    padding: 1rem;
    margin: 0 -15rem;


}

.teacherName {
    color: #a8a9a7;
    font-family: Goudy Old Style;
}



.teacherGrade {
    color: #c4c4c4;
    padding: 0.1rem 0;
}

.teacherBio {
    max-width: 15rem;
    padding: 0.1rem 0;
    color: white;
    font-size: 0.8rem;
    font-family: Century Gothic;
}

.teacherProfileIcon {
    padding: 0 0 0 15rem;
}

.teacherProfileLinks img {
    width: 20px;
    margin:0.2rem ;

}


@media (max-width: 1000px) {
    .teacherProfileDetails {
        margin: 0 0.1rem;
        font-size: 0.9rem;
    }
    .teacherGrade{
        font-size: 0.7rem;
    }
    .teacherBio{
        font-size: 0.6rem;
    }

}

@media (min-width: 900px) {}
@media (max-width:600px) {
    .teacherProfileIcon{
        padding: 0 0 0 5rem;
    }
}
@media (max-width: 460px) {
    .teacherProfileDetails {
        margin: 0 0.5rem;
    }

    .teacherProfileIcon{
        padding: 0 0 0 0.1rem;
        width: 0.1rem;
    }

}

@media (max-width: 200px) {}

/* end of teacher's  prfile styling*/

/* teacher's student list styling */
.teacherStudentList {
    background:linear-gradient(to right, #060606, rgb(2, 26, 87));

    max-width: 40rem;
    height: 15rem;
    border-radius: 2cap;
    padding: 1rem;
    /* margin: 0 1cap; */
    overflow-y: scroll;
    overflow-x: hidden;




}
.teacherStudentListCont{
    display: grid;
    grid-template-rows: -.1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.teacherStudentNav {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.teacherStudentNavcont {

    border-left: solid orange;
    border-right: solid orange;
    border-radius: 5px;
    box-shadow: 0 0.5cap 0.5rem;


}

.teacherStudentNavBtn {
    background-color: transparent;
    border: none;
    margin: 0.5cap 1cap;
    color: wheat;


}

.teacherStudentNavBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* end of teacher's student nav */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
.teacherStudentMini:hover {  
    cursor: pointer;
  
}

.teacherStudentMiniCont {
    padding: 2cap;
    background-color: rgba(38, 158, 232, 0.756);
    border-radius: 1cap;
    animation: fadeIn 0.5s ease-in-out;
}

.teacherStudentSearch {
    /* margin: 1cap 1.5cap; */
    top: 0;
    position: sticky;
    background: #093069;
    border: none;
    border-bottom: 2px solid white;
    height: 30px;
    width: 44.4cap;
    /* background: transparent; */
    /* color: wheat; */
}


.teacherStudentSearch:focus {
    background: #ffffff;
    margin: 1cap 1.5cap;
    border-radius: 50px;
    border-bottom: 1px solid white;
    width: 44.4cap;
    /* background: transparent; */

}


.teacherStudentMiniImg {
    width: 10cap;
    height: 10cap;
    margin: -7cap 0 0 0;
    border-radius: 50cap;

}

.teacherStudentMiniText {
    margin: 0 0 -2cap 12cap;
    font-family: Humanst521 BT;
    color: #A0C0D6;
}

.teacherStudentHr {
    margin: 0 0cap 0 12cap;
    width: 27cap;
}

.studentSection {
    display: flex;


}
.viewUserProfile{
    background: transparent;
    border: none;
    padding: 0.5rem 0;
    color: wheat;
}
.viewUserProfile:hover{
    text-decoration: underline;
    color: rgb(143, 197, 250);
    cursor: pointer;
}
/* end teacher's student list styling */
/* Student mini profile styling */
.studentMiniProfile {
    background:linear-gradient(to right, #060606, rgb(2, 26, 87));    
    border-radius: 1cap;
    width: 65cap;
    display: none;
    

    /* margin: -41.5cap 0 0 47cap; */


}

.studentMiniProfileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24cap 0 10cap;
    color: #a8a9a7;
}

.studentProfileImg {
    width: 20cap;
    height: 20cap;
    border-radius: 50cap;
    margin: 0 0 0 15cap;
}

.StudentMiniInfoBtn {
    margin: 1cap;
    border-radius: 2cap;
    border: none;
    padding: 0.1cap;

}

.StudentMiniInfoBtn:hover .studentMiniInfoLogo {
    cursor: pointer;
    background-color: white;
    border: none;
    transition: 1s;

}

.studentMiniInfoLogo {
    height: 1cap;
    width: 1cap;
    margin: 0 0 0 0;
    background-color: orange;
    border: none;
    aspect-ratio: 1/1;
    border-radius: 20cap;
    padding: 0.5cap;
}

.upload {
    margin: 0.5cap 1.5cap 0 0;
    float: right;
    background: transparent;
    border: none;
    width: 1.5cap;
    height: 1.5cap;
    font-size: 24px;
    border-radius: 0.1cap;
}

.upload:hover {
    cursor: pointer;
}

/* for student mini courses */
.studentCourses {
    margin: 0 0 0 0.5cap;
    color: white;
    padding: 2cap 0 0 0;
}

.studentMiniCoursesGroup {
    display: flex;
    justify-content: space-between;
}

.studentPerformText {
    padding: 0 0 0 1.5cap;
    color: #5aa4f9;
    font-family: Corbel;
}


.StudentMiniPerformBtn {
    height: 3cap;
    margin: 2cap 2cap;
    background-color: #2B3240;
    border: none;
    border-radius: 1cap;
    color: orange;
}

.StudentMiniPerformBtn:hover {
    background-color: rgb(127, 123, 123);
    color: white;
    cursor: pointer;

}

.studentMiniProfileComment {
    padding: 2cap;

}

.stundentMiniProfiletextarea {
    outline: none;
    resize: none;
}

.commentHeader {
    color: white;
}

.sendMessage {
    font-family: inherit;
    font-size: 10px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .sendMessage span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .sendMessage svg {
    display: block;
    width: 0.5rem;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .sendMessage:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .sendMessage:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .sendMessage:hover span {
    transform: translateX(5em);
  }
  
  .sendMessage:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  