.aiIconCont{
    position: fixed;
    bottom: 10px;
    display: flex;
    right: 10px;
    z-index: 1;
    background-color:rgb(0, 0, 134);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

    .main-div {
        position: absolute;
        right: 5px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        z-index: 999;
        display: none;
    }
    @media (max-width:310px) {
        .main-div{
            right: 0;
            left: 0;
        }
    }
    .main-divCont {
        height: 550px;
        width: 300px;
        border: 3px solid white;
        border-radius: 20px;
        background: #fff;
        overflow: hidden;
        position: relative;
    }

    .main-divCont .top-part {
        height: 100px;
        background:  #000329;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .top-part .agent-details {
        display: flex;
        align-items: center;
    }

    .main-divCont .top-part .agent-details img {
        height: 70px;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #fff;


    }

    .top-part .agent-text {
        margin-left: 10px;
    }

    .agent-text h3 {
        font-size: 15px;
        color: #9c9cad;

    }

    .agent-text p {
        font-size: 11px;
        color: #929293;

    }

    .closeAi:hover{
        cursor: pointer;
        fill: red;
        transition: 1s;
    }

    .agent-text span {
        color: #464653;
    }

    .chat-section {
        position: relative;
        padding: 0 20px;
    }

    .left-part {
        margin: 60px 0;
        max-width: 260px;
    }

    .left-part p {
        color: #55b;
        font-weight: 400;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
    }

    .agent-chat {
        display: flex;
        align-items: center;
    }

    /* .left-part img {
        height: 40px;
        width: 40px;
        background-color: #0f0f20;
        border-radius: 50%;

    } */

    .chat-section .right-part {
        margin: -50px 0;
        text-align: right;
        max-width: 260px;
        float: right;
        font-size: 14px;
    }

    .chat-section .right-part p {
        color: #fff;
        float: right;
        background-color: #0f0f20;
        padding: 8px 24px;
        border-radius: 10px;
        font-size: 15px;
    }

    .chat-section .right-part span {
        color: #555;
        font-size: 11px;
        font-weight: 500;
    }

    .bottom-section {
        position: absolute;
        bottom: 10px;
        width: 80px;
        background: #000329;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        padding: 10px;

    }

   

    .bottom-section textarea {
        height: 40px;
        width: 80%;
        color: #0f0f20;
        padding: 0 5px;
        resize: none;
        outline: none;
        border: none;
        text-transform: capitalize;
        overflow-y: hidden;
    }
