/* A general styling for all element to add a custom padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================
=======WEBKIT CODE======== */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;

}

::-webkit-scrollbar-track {
    /* background:linear-gradient(to bottom, #002b81, purple);#002b81 */
    background: linear-gradient(to bottom, #000000, #6e58fe);

}

::-webkit-scrollbar-thumb {
    /* background-color: #54a9ff; */
    background: linear-gradient(to bottom, #6953f4, #8b62f1);

    width: 2px;


}

/* ================================
=======END OF WEBKIT CODE======== */

/* ==================================
=======WHOLE PAGE STYLE ACTION======= */
html {
    font-family: Poppins, sans-serif;
    /*for font family of our html*/
    scroll-behavior: smooth;
    /*to control the scroll for our page*/
    touch-action: pan-y;

}


/* =============================
=======BODY LAYOUT CODE======== */
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 0.5fr 0.5fr 1fr; */
    grid-template-areas: 'sidepanel nav nav nav'
        'sidepanel profile profile profiledit'
        'sidepanel graph graph  profiledit'
        'sidepanel footer footer footer';
    gap: 0.5rem;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #6e58fe);
}

/* ===================================
=======END OF BODY LAYOUT CODE======== */


/* ============================
======NAV SECTION STYLES======= */
.navSection {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0fr 0fr 0fr;
    grid-template-rows: 0fr;
    align-items: center;
    grid-template-areas: "ham search notify qrcode userDp";
    justify-content: end;
    gap: 10px;
    margin: 0 1rem 0 0;
    /* background-color: aqua; */
    grid-area: nav;
}


/* =======PROFILE TOOLTIP STYLE AREA======= */
/* Hide the tooltip by default */
.profileTooltip-content {
    display: none;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'tooltipHead tooltipHead tooltipHead tooltipHead'
        'tooltipLinks tooltipLinks tooltipLinks tooltipLinks';
    gap: 50px;
    position: absolute;
    top: 50px;
    right: 0px;
    background: linear-gradient(to bottom, #010e29, #040134);
    color: #fff;
    /* padding: 0 5vw 0 1vw; */
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

/* Show the tooltip with animation */
.profileTooltip-content.active {
    display: grid;
    opacity: 1;
    transform: translateY(0) scale(1);
    animation: fadeInScale 0.5s ease forwards;
    /* Apply the custom animation */
}

.profileTooltipHead {
    grid-area: tooltipHead;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 10px;
    align-items: center;
    /* background-color: #1d8dfd; */
}

.profileTooltipHeadTxt {
    display: grid;
    gap: 10px;

}

.userId {
    font-size: 10px;
    color: rgb(202, 202, 202);
    font-weight: bold;
}

.profileTooltipHead img {
    width: 35px;
    border-radius: 50%;
}

.profileTooltipLinks {
    grid-area: tooltipLinks;
    display: grid;
    gap: 10px;
}

.profileTooltipLinks div {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 10px;
    /* background-color: #469ef6; */
    text-decoration: none;
    padding: 5px;
}

.profileTooltipLinks div:hover {
    background-color: #1d8dfd;
    box-shadow: 0px 8px 5px #1e1d1d4d;
    border-radius: 3px;
    cursor: pointer;

}

.profileTooltipLinks a p {
    color: white;
}


/* Cool bounce animation */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }

    50% {
        opacity: 0.5;
        transform: translateY(10px) scale(1.05);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* Fade out animation for smoother closing */
.profileTooltip-content.fade-out {
    animation: fadeOutScale 0.3s ease forwards;
}

@keyframes fadeOutScale {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }
}

/* =======END OF PROFILE TOOLTIP STYLE AREA======= */
.speecCancelCont {
    display: none;
    position: fixed;
    top: 5px;
    z-index: 1;
    left: 700px;
    padding: 10px;
    background-color: #062b6b;
    border-radius: 50%;


}

.speecCancelCont:hover {
    cursor: pointer;
    background-color: rgb(19, 14, 89);
}

@media (max-width:1000px) {
    .speecCancelCont {
        left: 300px;
    }
}

@media (max-width:500px) {
    .speecCancelCont {
        left: 100px;
        top: 30px;
    }
}

/* ==== HAMBURGER MENU STYLES==== */
.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 15px;
    z-index: 1000;
    grid-area: ham;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 1.5em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #7fffd4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* ==== END OF HAMBURGER MENU STYLES==== */

.search {
    background: url(/resouces/icons/search.svg)no-repeat 5px;
    grid-area: search;
    height: 25px;
    padding-left: 25px;
    background-size: 17px;
    border-radius: 15px;
    border: none;
    background-color: #021845;
    color: whitesmoke;

}

.notify {
    grid-area: notify;
}


.notify:hover {
    fill: #7ec3fa;
    cursor: pointer;
    transition: 1s;
}

/* =======NOTIFY TOOLTIP AREA======= */
.notifyTooltip {
    display: none;
    position: absolute;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-auto-rows: minmax(1fr, auto);
    grid-template-areas: 'notifyHead notifyHead notifyHead notifyHead'
        'notifyBody notifyBody notifyBody notifyBody'
        'notifyFooter notifyFooter notifyFooter notifyFooter';
    gap: 2px;
    top: 50px;
    right: 80px;
    background: linear-gradient(to bottom, #010e29, #040134);
    color: #dfdddd;
    box-shadow: 0px 8px 5px #0000004d;
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;

}

.notifyTooltip.active {
    display: grid;
    opacity: 1;
    transform: translateY(0) scale(1);
    animation: fadeInScale 0.5s ease forwards;
    /* Apply the custom animation */
}

.notifyTooltipHead {
    grid-area: notifyHead;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 70px;
    padding: 10px;
    align-items: center;
    background-color: #021845;

}

.notifyTooltipHead p {
    color: white;
    font-weight: bold;
}

.notifyTooltipLinks {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 5px;
    /* place-self: end; */
    justify-items: end;
    /* background-color: #1d8dfd; */
}

.notifyTooltipLinks a {
    color: #adadad;
    text-decoration: none;

}

.notifyTooltipLinks svg {
    display: none;
}

.notifyTooltipLinks a:hover {
    text-decoration: underline;
}

.notifyTooltipBody {
    grid-area: notifyBody;
    overflow-y: scroll;
    height: 50vh;
}

.notifyTooltipBodyCont {
    display: grid;
    grid-template-columns: 0fr 0fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'notifyImg notifyImg notifyName notifyTime'
        'notifyImg notifyImg noitifyTxt noitifyTime';
    /* gap: 20px; */
    /* background-color: aqua; */
    gap: 15px;
    padding: 12px;

}

.notifyTooltipBodyCont:hover {
    cursor: pointer;
    background-color: #3294f61b;
}

.notifyTooltipBodyCont img {
    width: 40px;
    border-radius: 50%;
    grid-area: notifyImg;

}

.notifyName {
    grid-area: notifyName;
    font-size: 14px;
    font-weight: bold;
}

.notifyMessage {
    grid-area: noitifyTxt;
    font-size: 10px;
    font-size: 14px;
}

.notifyTimeCont {
    grid-area: notifyTime;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    place-self: end;
    /* background-color: #002b81; */
}

.notifyTooltipFooter {
    grid-area: notifyFooter;
    background-color: #4a9ff4;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.notifyTooltipFooter a {
    color: rgb(58, 57, 57);
}

/* =======END OF NOTIFY TOOLTIP AREA======= */

/* ========CODE SCANNER======= */
.qrCode {
    grid-area: qrcode;
}

.qrCode:hover {
    cursor: pointer;
    transition: 0.1s;
    fill: #7ec3fa
}

.scanner-container {
    text-align: center;
    background: linear-gradient(90deg, #0f0245, #020b2c);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top: 20%;
    left: 10px;
    right: 10px;
    display: none;
    justify-self: center;
    align-self: center;
    position: absolute;
    z-index: 1000;

}

.scannerHead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 100px; */
}

.scannerHead svg {
    justify-self: end;
    padding: 2%;
}

.scannerHead svg:hover {
    cursor: pointer;
    fill: #7ec3fa;
}

.scannerHead h2 {
    font-size: 16px;
    color: #0b85fe;
    justify-self: start;
}

.scanner-frame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 3px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: #ddd;
    position: relative;
}

.scanner-frame.success {
    border-color: #008000;
}

.scanner-frame.error {
    border-color: #ff0000;
}

.scan-button {
    background-color: #3300ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.scan-button:hover {
    background-color: #6a45fa;
}

#webcam {
    width: 295px;
    height: 300px;
    position: absolute;
    top: -38px;
    /* border-radius: 15%; */
}

.status-message {
    margin-top: 10px;
    font-size: 14px;
    color: #4ba7f7;
}

.user-info {
    margin-top: 20px;
    padding: 10px;
    /* background-color: #f8f9fa; */
    border-radius: 5px;
}

.userDp {
    grid-area: userDp;
    width: 30px;
    border-radius: 50%;
}

.userDp img {
    width: 30px;
    border-radius: 50%;
    border: solid #00f2ff;
}

.pfTooltipDp:hover {
    cursor: pointer;
}

/* ========END OF CODE SCANNER======= */

/* ====================================
======END OF NAV SECTION STYLES======= */

/* ================================== */
/* =======PROFILE EDIT STYLES======= */
.profile-container {
    background: linear-gradient(3000deg, #090148, #3a0080);
    display: none;
    justify-self: end;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'head head head head'
        'img img img img'
        'body body body body';
    position: absolute;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 20px #0000001a;
    max-width: 450px;
    width: 100%;
    animation: fadeIn 0.8s ease-in-out;

    z-index: 999;

}

.profile-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    grid-area: head;
}

.profile-header h2 {
    color: #4403de;
    font-size: 28px;
    font-weight: 700;
}

.closePfEdit:hover {
    cursor: pointer;
    fill: #00f2ff;
}

/* Profile Picture Section */
.profile-picture-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    grid-area: img;



}

.profile-picture-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #45549d;
    object-fit: cover;
    transition: all 0.3s ease;
}

.profile-picture-section img:hover {
    transform: scale(1.05);
}

.upload-btn {
    background-color: #200359de;
    position: absolute;
    top: 150px;
    left: 250px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.upload-btn svg {
    fill: rgb(36, 182, 255);

}

.upload-btn:hover {
    background-color: #1d3557;
}

/* Form Styles */
.profile-form {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        'inputEdit1 inputEdit1 inputEdit2 inputEdit2'
        'inputEdit3 inputEdit3 inputEdit4 inputEdit4'
        'inputEdit5 inputEdit5 inputEdit5 inputEdit5'
        'button button button button';
    margin: 40px 0 0 0;
    height: 50vh;
    overflow-y: scroll;
}

.inputEdit-group {
    margin-bottom: 20px;
    position: relative;
}

.inputEdit-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}

.inputEdit-group input,
.inputEdit-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #dddddd;
    border-radius: 12px;
    transition: all 0.3s;
    outline: none;
}

.inputEdit-group input:focus,
.inputEdit-group textarea:focus {
    border-color: #457b9d;
    box-shadow: 0 0 10px #457b9d33;
}

.input-feedback {
    font-size: 12px;
    color: #6c757d;
    margin-top: 5px;
    display: none;
}

.inputEdit-group input:valid~.input-feedback {
    color: #28a745;
}

.inputEdit-group input:invalid~.input-feedback {
    color: #dc3545;
}

#inputEdit1 {
    grid-area: inputEdit1;
}

#inputEdit2 {
    grid-area: inputEdit2;
}

#inputEdit3 {
    grid-area: inputEdit3;
}

#inputEdit4 {
    grid-area: inputEdit4;
}

#inputEdit5 {
    grid-area: inputEdit5;
}

.btn-save {
    grid-area: button;

    background-color: #1d3557;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-save:hover {
    background-color: #457b9d;
}

.modal {
    position: absolute;
    /* top: 0; */
    left: 500px;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 0.5s forwards ease-in-out;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none;
    grid-template-columns: 24px 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    align-items: center;
    z-index: 1;
}

.modal svg {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.modal-content {
    grid-column: 2;
    grid-row: 1;
    font-size: 16px;
}

.close {
    grid-column: 3;
    grid-row: 1;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    color: #ecf0f1;
    justify-self: end;
}

.close:hover {
    color: #e74c3c;
    transition: color 0.3s ease;
}

.description {
    grid-column: 2 / span 2;
    grid-row: 2;
    font-size: 12px;
    color: #bdc3c7;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width:989px) {
    .modal {
        left: 150px;
        right: 150px;
    }
}

@media (max-width:436px) {
    .profile-form {
        grid-template-areas:
            'inputEdit1 inputEdit1 inputEdit1 inputEdit1'
            'inputEdit2 inputEdit2 inputEdit2 inputEdit2'
            'inputEdit3 inputEdit3 inputEdit3 inputEdit3'
            'inputEdit4 inputEdit4 inputEdit4 inputEdit4'
            'inputEdit5 inputEdit5 inputEdit5 inputEdit5'
            'button button button button';
    }
}

@media(max-width: 472px) {
    .profile-container {
        padding: 25px;
    }

    .modal {
        padding: 5px;
        grid-gap: 10px;
        grid-template-columns: 20px 1fr auto;
        width: 200px;


    }

    .modal-content {
        font-size: 12px;
    }

    .description {
        font-size: 10px;
    }
}

@media(max-width: 365px) {
    .modal {
        padding: 5px;
        grid-gap: 10px;
        grid-template-columns: 15px 1fr auto;
        width: 200px;
        left: 20px;


    }

    .modal-content {
        font-size: 10px;
    }

    .description {
        font-size: 7;
    }
}

@media(max-width: 239px) {

    .modal {
        padding: 1px;
        grid-gap: 10px;
        grid-template-columns: 15px 1fr auto;
        width: 100px;
        left: 20px;


    }

    .modal-content {
        font-size: 8px;
    }

    .description {
        font-size: 5;
    }

    .modal svg {
        width: 12px;
        height: 12px;
    }
}

/* @media(max-width: 768px) {
    .profile-container {
        padding: 25px;
    }
} */

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================================     */
/* =======END OF PROFILE EDIT STYLES======= */

/* =============================
=======SIDE-BAR STYLES SECTION======== */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02184591;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar .NavHam a {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    margin: 0.4rem;
    text-decoration: none;
    font-size: 16px;
    color: #f0eaea;
    transition: color 0.3s;
}

.sidebar .NavHam {
    list-style-type: none;
}

.sidebar .NavHam a:hover {
    color: #1d8dfd;
    background-color: #ffffff14;
    border-radius: 5px;
    transition: 1s;

}

.sidebar-icon {
    fill: #469ef6;
}





.sidebar .sidebar-icon {
    width: 2rem;
    margin-right: 0.5rem;
}

/*=======RESPONSIVE CODE FOR THE STUDENT SIDEBAR======= */

/*=======code for Devices Width above 768px=======*/
@media (min-width: 836px) {
    .hamburger {
        display: none;
    }
}



/* =======CODE FOR DEVICES WIDTH UNDER 200px=======*/
@media (max-width: 200px) {


    .sidebar {
        padding-top: 10px;
    }

    .hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .sidebar .NavHam a {
        padding: 2px 2px;
        font-size: 0.3em;
    }

    .hamburger svg {
        height: 1em;
    }

    .NavHam .sidebar-link .sidebar-icon {
        width: 0.5rem;
        height: 0.5rem;
    }
}

/* ==========================================
=======END OF SIDE-BAR STYLES SECTION======== */



/* ============================
======SIDEPANEL SECTION STYLES======= */
.sidePanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0fr;
    gap: 30px;
    background-color: #021845;
    grid-area: sidepanel;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;

}

.sidePanelHead {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #021845d5;

}

.logo {
    width: 3rem;

}

.sidePanellinks a {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    align-items: center;
    gap: 10px;
    padding: 15px;
    /* background-color: rgba(0, 140, 255, 0.39);
    border: solid 1px wheat; */

}

.sidePanellinks a {
    color: rgb(100, 99, 99);
    text-decoration: none;
    font-weight: bold;
}

.sidePanellinks a:hover {
    background-color: #1d8dfd;
    color: #ffffff;
    transition: 0.5s;
}

.sidePanellinks a:hover svg {
    fill: #ffffff;

}

#active {
    background-color: #1d8dfd;
}

#active a p {
    color: #ffffff;

}

#active a svg {
    fill: #ffffff;
}

/* ============================
======END OF SIDEPANEL SECTION STYLES======= */


/* ============================
=====PROFILE SECTION STYLES======= */
.profile {
    background-color: rgb(4, 1, 52);
    grid-area: profile;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    height: auto;
    /* padding: 25px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.pfHead {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: 0fr;
    grid-template-areas: 'pp pp pM pM'
        'pp pp pN pN ';

}

.pfDp {
    grid-area: pp;
    border-radius: 50%;
    border: solid 3px rgb(4, 225, 225);
}

.welcomeMessage {
    grid-area: pM;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

.pfName {
    grid-area: pN;
    font-weight: bold;
    color: white;
}


/* ============================
=====END OF PROFILE SECTION STYLES======= */

/* ============================
=====ANALYSIS SECTION STYLES======= */

.analysis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'radial radial radial radial'
        ' areachart areachart areachart areachart';
    grid-template-rows: 0.5fr;
    grid-area: profiledit;
    gap: 10px;
    height: auto;
}

.analysisHead {
    background-color: #040134;
    grid-area: radial;
    display: grid;
    border-radius: 12px;

}

.radialchart2 {
    display: grid;
    align-items: center;
    /* background-color: #155724; */
}

.areachart {
    background-color: rgb(4, 1, 52);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1), 0 1px 6=3px rgba(0, 0, 0, 0.08);
    grid-area: areachart;
}

.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: 'card1-head card1-head card1-head card1-head'
        'card1-body card1-body card1-body card1-body';
}

.cardheader {
    grid-area: card1-head;
    display: grid;
    align-items: center;
    padding: 10px;


}

.card1 {
    display: grid;
    place-self: center;
}

.cardbody1 {
    grid-area: card1-body;


}

/* =======================================
=====END OF ANALYSIS SECTION STYLES======= */


/* ================================
=======GRAPH STYLES SECTION======== */
.graph {
    background-color: #040134;
    grid-area: graph;
    border-radius: 10px;
    box-shadow: 0 5px 6px #000000, 0 1px 6 3px #0000000d;
    height: auto;
}

.card2 {
    /* background-color: #1b2630; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'card-graph card-graph card-graph card-graph'
        'cardTxt cardTxt cardTxt cardTxt';
    gap: 10px;
}

.cardbody {
    grid-area: card-graph;

}

.graphTxt {
    /* background-color: #3b1af8; */
    display: grid;
    gap: 10px;
    grid-area: cardTxt;
    /* place-items: center; */
    padding: 0 25px 10px;
}

.graphTxt h6 {
    font-size: 12px;
    color: #f0eaea;
}

.graphTxt h5 {
    color: #54a9ff;
    font-size: 22px;
    font-family: sans-serif;
}

/* ================================
=======END OF GRAPH STYLES SECTION======== */
.leaderBoardCont {
    grid-area: footer;
    background-color: #040134;
    box-shadow: 0 4px 12px #0000001a;
    padding: 10px;
    border-radius: 5px;
    height: auto;


}

.leaderBoardCont p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.leaderBoard {
    grid-area: footer;
    height: 30vh;
    overflow-y: scroll;
    font-family: 'Arial', sans-serif;
    border-radius: 1%;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #040134;
}

thead {
    background-color: #13145a;
    color: #f0eaea;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    top: 0;
    position: sticky;

}

th,
td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #3f3585;
}

tbody tr:hover {
    background-color: #6352d5;
    color: #ffffff;
}

tr {
    color: #808080;
}

/* Checkbox Styles */
.check-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Image Styles */
.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #343a40;
    margin-right: 10px;
}

/* Status Badge */
.status-badge {
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 12px;
    text-align: center;
}

.grade1 {
    background-color: #d4edda;
    color: #155724;
}

.grade2 {
    background-color: #fff3cd;
    color: #856404;
}

.grade3 {
    background-color: #cfeef6;
    color: #045485;
}

/* Action Icon */
.action-icon {
    color: #ff5e57;
    cursor: pointer;
    font-size: 18px;
}

.action-icon:hover {
    color: #e53e3e;
}

/* Additional Info */
.user-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
}

.user-email {
    font-weight: 500;
}


/* =================================== */
/* =======Tour section styles======= */
/* guide styling */
.guide {
    position: absolute;
    top: 0px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    width: 200px;
    text-align: center;
    z-index: 10000;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show guide */
.guide.show {
    display: block;
    opacity: 1;
}

/* Highlighted element */
.highlight {
    position: relative;
    z-index: 9999;
    box-shadow: 0 0 10px 5px orange;
    background-color: #002c5be6;
    padding: 10px;
    border-radius: 5px;
}

#skipBtn {
    background: linear-gradient(90deg, #2d6fff, #00f2ff);
    margin: 40% 0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: inset 5px 8px 8px #01164a4d;

}

#skipBtn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #144abe, #0084ff);
    transition: 1s;


}

/* Overlay to block interactions */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    z-index: 9998;
    display: none;
}

/* ========================================= */
/* =======END OF Tour section styles======= */
@media (min-width:1100px){
    body {
        /* align-items: start; */
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0.1rem;

    }
   .sidePanel{
    grid-template-rows: 0fr;
   }
   .sidePanellinks{
    grid-template-rows: 0fr;
   }
   .sidePanelHead{
    grid-template-rows: 0fr;
   }
   .pfHead{
    align-items: center;
   }
}

@media (max-width:900px) {
    body {
        grid-template-columns: 0.3fr 1fr 1fr 1fr;
    }

    .sidePanelHead h2 {
        display: none;
    }

    .sidePanellinks a p {
        display: none;
    }

}

@media (max-width:830px) {
    body {
        grid-template-columns: 0.9fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas: 'nav nav nav nav'
            'profile profile profiledit profiledit'
            'graph graph profiledit  profiledit'
            'footer footer footer footer';
        padding: 0 10px 0;
    }

    .sidePanel {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .leaderBoard {
        height: 50vh;
    }

    .guide {
        display: none;
    }
}

@media (max-width:500px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        grid-template-areas: 'nav nav nav nav'
            'profile profile profile profile'
            'profiledit profiledit profiledit profiledit'
            'graph graph graph graph'
            'footer footer footer footer';
        padding: 0 10px 0 10px;
    }

    .upload-btn {
        display: none;
    }

}

@media (max-width:468px) {
    .leaderBoard {
        overflow-x: scroll;
    }

    .notifyTooltipLinks {
        grid-template-columns: 1fr 0fr;
    }

    .notifyTooltipLinks a {
        display: none;
    }

    .notifyTooltipLinks svg {
        display: block;
    }

}

@media (max-width:383px) {
    .search {
        display: none;
    }
}

@media (max-width:209px) {
    .profileTooltip-content {
        grid-template-columns: 0fr 0fr;
        padding: 2px;
        margin: 0;
        /* font-size: 10px; */

    }

}

@media (max-width:149px) {

    .notify,
    .qrCode {
        display: none;

    }

    .navSection {
        grid-template-columns: 1fr 0fr;
        grid-template-rows: 0fr;
        grid-template-areas: "ham ham userDp userDp";
    }
}